* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

html {
  background-color: rgb(25, 30, 45);
  overflow-y: auto;
  text-align: center;
}
.wrapper {
  background-image: -webkit-linear-gradient(rgb(25, 30, 45) 33%, rgb(245, 248, 251) 0%);
  background-image: -o-linear-gradient(rgb(25, 30, 45) 33%, rgb(245, 248, 251) 0%);
  background-image: linear-gradient(rgb(25, 30, 45) 33%, rgb(245, 248, 251) 0%);
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.title {
  color: white;
  align-self: center;
  align-items: center;
  display: flex;
  padding: 5% 0;
}
.title h1 {
  padding: 0.5em;
  font-size: 5vw;
  border: 5px solid white;
  border-radius: 2em;
}
.info-wrapper {
  color: white;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 250px auto;
  gap: 5%;
}
.info-wrapper-container {
  margin: 0 10%;
  margin-top: 5%;
  margin-bottom: 10%;
}
.info {
  box-shadow: 4px 4px 8px rgb(196, 192, 192);
  background-color: rgba(234, 239, 250, 1);
  color: black;
}

.info h3 {
  color: white;
  background-color: rgba(25, 30, 45, 1);
  font-size: 2.5vw;
  padding: 0.4em;
}

.info-instructions {
  grid-column: 1 / 3;
  grid-row: 2 / 3;
}

.info-settings {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  display: flex;
  flex-direction: column;
}

.info-presets {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  display: flex;
  flex-direction: column;
}

.info-text {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  font-size: 1.6vw;
  line-height: 2;
}
.info-text::-webkit-scrollbar {
  display: none;
}

.info-text-instructions {
  text-align: justify;
  padding: 2% 5%;
}
.info-text-settings {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
}
.info-text-presets{
  height: 100%;
}
.button, .tuning{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  cursor: pointer;

}
.tuning{
  height: 33.3%;
}

.button:hover,
.tuning:hover {
  background-color: rgb(203, 210, 231);
}
.button:active,
.tuning:active {
  color: rgb(112, 112, 112);
}

.footer {
  padding: 2%;
  background-color: rgb(25, 30, 45);
  color: white;
}
.footer a {
  text-decoration: none;
  color: white;
  cursor: pointer;
  font-size: 2vw;
}
.fa-code-branch {
  font-size: 1em;
  padding-right: 1%;
}

.footer a:hover {
  color: rgb(186, 184, 198);
}
#canvas-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

canvas {
  background-color: white;
  background-color: rgba(234, 239, 250, 1);
  width: 80% !important;
  height: auto !important;

  /* prevents text selection when clicking inside canvas */
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version Opera Chrome  */
}

/* touchscreen devices */
@media (pointer: coarse) {
  .button:hover,
  .tuning:hover {
    background-color: transparent;
  }
}
@media (max-width: 1024px) {
  .info-wrapper {
    grid-template-rows: 200px auto;
  }
} 
@media (max-width: 800px) {
  .info-wrapper {
    grid-template-rows: 150px auto;
  }
} 
@media (max-width: 800px), (orientation: landscape) and (pointer: coarse){
  canvas {
    width: 90% !important;
  }
  .info-wrapper-container {
    margin-left: 5%;
    margin-right: 5%;
  } 
}
@media (max-width: 600px) {
  .info-wrapper {
    grid-template-rows: 100px auto;
  }
} 
@media (max-width: 400px){
  .info-wrapper {
    grid-template-rows: 80px auto;
  }
  .title h1 {
    border: 2px solid white; 
  }
}
@media (max-width: 320px) {
  .info-wrapper {
    grid-template-rows: 50px auto;
    }
  }