* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Caveat', cursive;
}

html {
  font-size: 14px;
  color: #fff;
}

body {
  height: 100vh;
  width: 100vw;
  max-height: 100vh;
  max-width: 100vw;
  background-color: #121217;
}

header {
  position: fixed;
  height: 12%;
  width: 100%;
  top: 0;
  background-color: #121217;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 1;
}

main {
  position: relative;
  height: 100%;
  width: 100%;
  top: 12%;
}

.title {
  font-size: 2.5rem;
}

.fa {
  color: #fff;
  font-size: 2rem;
}
