:root {
  /*------ Background Colors ------  */
  --fret-background-color: #daedfb;
  --fret-inlay-background-color: #ffffff53;
  --fretboard-background-color: #021527;
  --fret-number-background-color: #072c4b;

  /*  ------ Portrait Mode ------ */
  --nut-size-portrait: 1.25rem;
  --fret-height-portrait: clamp(1.75rem, calc(0.893rem + 4.286vw), 2.5rem);
  --fret-width-portrait: clamp(1rem, calc(0.543rem + 2.286vw), 1.4rem);

  --note-font-size-portrait: clamp(0.75rem, calc(0.464rem + 1.429vw), 1rem);
  --note-size-portrait: clamp(1.75rem, calc(1.236rem + 2.571vw), 2.2rem);

  /* ------ Landscape Mode ------ */
  --nut-size-landscape: clamp(1rem, calc(0.714rem + 1.429vw), 1.25rem);
  --fret-height-landscape: 1rem;
  --fret-width-landscape: clamp(2rem, calc(1.429rem + 2.857vw), 2.5rem);

  --note-font-size-landscape: clamp(0.75rem, calc(0.464rem + 1.429vw), 1rem);
  --note-size-landscape: clamp(1.75rem, calc(1.35rem + 2vw), 2.1rem);
}

.fret-num,
.note {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
  font-size: var(--note-font-size-portrait);

  user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.fret,
.note,
.fret-num {
  display: flex;
  align-items: center;
  justify-content: center;
}

.fret-num,
.note {
  position: absolute;
  width: var(--note-size-portrait);
  height: var(--note-size-portrait);
  border-radius: 50%;
}

.fret {
  padding: var(--fret-height-portrait) var(--fret-width-portrait);
  border-bottom: 0.35rem solid;
  border-image: linear-gradient(to bottom, #000000, #48658d, #000000) 0 0 100;
  background-color: var(--fret-background-color);
}

.fret-num {
  right: calc(100% + 0.75rem);
  background-color: var(--fret-number-background-color);
  cursor: default;
}

.fret-left-handed > .fret-num {
  left: calc(100% + 0.75rem);
  right: unset;
}

.note {
  color: black;
  border: 0.25rem solid rgb(0, 0, 0);
}

/* ------ Guitar nut ------ */
.fret:first-child {
  padding-block: var(--nut-size-portrait);
  background-color: var(--fretboard-background-color);
  z-index: 0;
}

.fret:first-child .note {
  border: 0.25rem solid var(--fretboard-background-color);
}

/* ------ Guitar bridge ------ */
.fret:last-child {
  border-image: none;
  border-bottom: 0.5rem solid var(--fretboard-background-color);
}

/* ------ Dark frets (3-5-7-9-12) ------ */
.fret:nth-child(4),
.fret:nth-child(6),
.fret:nth-child(8),
.fret:nth-child(10),
.fret:nth-child(13) {
  background-color: var(--fret-inlay-background-color);
}

/* -------------------------------------------
  The four corners of the fretboard  
  Clockwise motion starting from top-left
  -------------------------------------------  */

.string:first-of-type > .fret:first-child {
  border-top-left-radius: 1rem;
}
.string:last-child > .fret:first-child {
  border-top-right-radius: 1rem;
}
.string:last-child > .fret:last-child {
  border-bottom-right-radius: 1rem;
}
.string:first-of-type > .fret:last-child {
  border-bottom-left-radius: 1rem;
}

/* ------ Left handed ------ */

.string:last-child > .fret-left-handed:first-child {
  border-top-right-radius: 0rem;
  border-top-left-radius: 1rem;
}
.string:first-of-type > .fret-left-handed:first-child {
  border-top-left-radius: 0rem;
  border-top-right-radius: 1rem;
}
.string:first-of-type > .fret-left-handed:last-child {
  border-bottom-left-radius: 0rem;
  border-bottom-right-radius: 1rem;
}
.string:last-child > .fret-left-handed:last-child {
  border-bottom-right-radius: 0rem;
  border-bottom-left-radius: 1rem;
}

/* -------------------- Landscape Mode -------------------- */

.landscape .fret-num,
.landscape .note {
  width: var(--note-size-landscape);
  height: var(--note-size-landscape);
  font-size: var(--note-font-size-landscape);
}

.landscape .fret {
  border-right: 0.35rem solid;
  border-image: linear-gradient(to left, #000000, #48658d, #000000) 1 100;
  border-bottom: none;
  padding: var(--fret-height-landscape) var(--fret-width-landscape);
}

.landscape .fret > .fret-num {
  left: unset;
  right: unset;
  top: calc(100% + 1rem);
}

/* ------ Landscape: Guitar nut ------ */
.landscape .fret:first-child {
  padding: var(--nut-size-landscape);
}

/* ------ Guitar bridge ------ */
.landscape .fret:last-child {
  border-bottom: none;
  border-image: none;
  border-right: 0.5rem solid var(--fretboard-background-color);
}

/* ------ Landscape: Reset border image ------ */
.landscape .fret-left-handed,
.landscape .fret-left-handed:last-child {
  border: none;
  border-width: 0;
}

.landscape .fret-left-handed {
  border-left: 0.35rem solid;
  border-image: linear-gradient(to right, #000000, #48658d, #000000) 1 100;
}

/* ------ Landscape: Left handed bridge ------ */
.landscape .fret-left-handed:last-child {
  border-left: 0.5rem solid var(--fretboard-background-color);
}

/* -------------------------------------------
  Landscape: The four corners of the fretboard  
  Clockwise motion starting from top-left
  -------------------------------------------  */

.landscape .string:last-child > .fret:first-child {
  border-top-left-radius: 1rem;
  border-top-right-radius: 0rem;
}
.landscape .string:last-child > .fret:last-child {
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 0rem;
}
.landscape .string:first-of-type > .fret:last-child {
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 0rem;
}
.landscape .string:first-of-type > .fret:first-child {
  border-bottom-left-radius: 1rem;
  border-top-left-radius: 0rem;
}

/*  ------ Landscape: Left handed ------ */
.landscape .string:last-child > .fret-left-handed:last-child {
  border-top-right-radius: 0rem;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 0rem;
}
.landscape .string:last-child > .fret-left-handed:first-child {
  border-top-left-radius: 0rem;
  border-top-right-radius: 1rem;
}
.landscape .string:first-of-type > .fret-left-handed:first-child {
  border-bottom-left-radius: 0rem;
  border-bottom-right-radius: 1rem;
  border-top-right-radius: 0rem;
}
.landscape .string:first-of-type > .fret-left-handed:last-child {
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 0rem;
}

@media (hover: hover) {
  .note:hover {
    scale: 1.1;
    filter: brightness(1.2);
    cursor: pointer;
  }

  .fret:first-child .note:hover {
    scale: unset;
  }
}
