.fretboard {
  position: relative;
  display: flex;
  height: 150%;
  width: 260px;
  border: 0.5rem solid #031322;
  border-radius: 2rem;
  flex-direction: row;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.705);
}
@media only screen and (min-width: 600px) {
  .fretboard {
    height: 260px;
    width: 150%;
    top: -15%;
    flex-direction: column-reverse;
    align-self: center;
  }
}
