.note {
  height: 35px;
  width: 35px;
  background-color: rgb(255, 255, 255);
  color: black;
  border: 0.3rem solid rgb(0, 0, 0);
  border-radius: 2rem;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (min-width: 600px) {
  .note {
    flex-direction: row;
  }
}
