.App {
  touch-action: manipulation;
}

main {
  padding-block: 5rem 2rem;
  background-color: #0e5394;
}

main.landscape {
  padding-block: 8rem 4rem;
  padding-inline: 0.5rem;
  overflow-x: scroll;
  scrollbar-width: none;
}

main.landscape::-webkit-scrollbar {
  display: none;
}
